
body {
    margin: 0;
    line-height: normal;
    }
    

.lv-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fffaef;
    width: 1512px;
    height: 15201px;
}
.small-scale {
    margin: 0;
}
.small-scale-social-infrastruct-container {
    position: absolute;
    top: 205px;
    left: 92px;
    font-size: 128px;
    line-height: 110px;
    text-shadow: 4px 0px 4px rgba(133, 255, 163, 0);
}
.projectssssi-2401 {
    position: absolute;
    top: 36px;
    left: 476px;
    font-size: 40px;
    line-height: 50px;
}
.lv-item {
    position: absolute;
    top: 121px;
    left: 988px;
    width: 567.1px;
    height: 957px;
    object-fit: contain;
}
.strategic-design-ux-container {
    position: absolute;
    top: 599px;
    left: 92px;
    line-height: 30px;
    font-weight: 600;
}
.it-is-a {
    position: absolute;
    top: 755px;
    left: 92px;
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    display: inline-block;
    width: 1028px;
}
.group-members-my {
    position: absolute;
    top: 692px;
    left: 92px;
    line-height: 30px;
    font-weight: 600;
    color: #a1a1a1;
    display: inline-block;
    width: 542px;
}
.pp-detroit-city-1-5 {
    position: absolute;
    top: 117px;
    left: 744px;
    width: 113.2px;
    height: 208.2px;
    object-fit: contain;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(50px);
    border-radius: 50%;
    background-color: #75a878;
    width: 558px;
    height: 45px;
}
.problem-statement {
    position: absolute;
    top: 9px;
    left: 64px;
    line-height: 30px;
    font-weight: 900;
}
.ellipse-parent {
    position: absolute;
    top: 2768px;
    left: 61px;
    width: 558px;
    height: 45px;
    font-size: 36px;
    color: #fffaef;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(50px);
    border-radius: 50%;
    background-color: #75a878;
    width: 315px;
    height: 45px;
}
.ellipse-group {
    position: absolute;
    top: 4449px;
    left: 58px;
    width: 315px;
    height: 45px;
    font-size: 36px;
    color: #fffaef;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(50px);
    border-radius: 50%;
    background-color: #75a878;
    width: 252px;
    height: 45px;
}
.ellipse-container {
    position: absolute;
    top: 5652px;
    left: 58px;
    width: 252px;
    height: 45px;
    font-size: 36px;
    color: #fffaef;
}
.ellipse-div {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(50px);
    border-radius: 50%;
    background-color: #75a878;
    width: 399px;
    height: 45px;
}
.group-div {
    position: absolute;
    top: 6917px;
    left: 58px;
    width: 399px;
    height: 45px;
    font-size: 36px;
    color: #fffaef;
}
.to-understand-how {
    font-weight: 600;
    font-family: Inconsolata;
}
.sanborn-maps {
    font-family: Inconsolata;
}
.a-database-of {
    font-weight: 600;
}
.to-understand-how-container {
    position: absolute;
    top: 1823px;
    left: calc(50% - 562px);
    line-height: 30px;
    display: inline-block;
    width: 1124px;
    height: 148px;
}
.we-interviewed-several-container {
    position: absolute;
    top: 2913px;
    left: calc(50% - 577px);
    line-height: 30px;
    font-weight: 600;
    display: inline-block;
    width: 1124px;
    height: 148px;
}
.lv-inner {
    position: absolute;
    top: 2385px;
    left: 1101px;
    background-color: #0049ff;
    width: 24px;
    height: 7px;
}
.current-buildings {
    position: absolute;
    top: 2383px;
    left: 1139px;
    font-size: 10px;
    font-family: Inter;
    display: inline-block;
    width: 164px;
}
.a-decline-in {
    margin-bottom: 0px;
}
.a-decline-in-single-family-hou {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 32px;
}
.we-figured-out-container {
    position: absolute;
    top: 2478px;
    left: 435px;
    font-weight: 600;
    color: #feb958;
}
.little-village-is {
    position: absolute;
    top: 3396px;
    left: calc(50% - 426px);
    font-weight: 900;
    color: #feb958;
}
.however-these-require {
    position: absolute;
    top: 4677px;
    left: calc(50% - 569px);
    font-weight: 600;
}
.on-a-large {
    text-decoration: line-through;
}
.on-a-large-container {
    position: absolute;
    top: 4558px;
    left: calc(50% - 569px);
    font-weight: 600;
    display: inline-block;
    width: 1124px;
}
.layer-2-icon {
    position: absolute;
    height: 63.85%;
    width: 68.97%;
    top: 110.9%;
    right: 31.96%;
    bottom: -74.75%;
    left: -0.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.little-village-district {
    font-weight: 900;
    color: #ffbe3f;
}
.we-focused-on-container {
    position: absolute;
    top: 1510px;
    left: 879px;
    line-height: 30px;
    display: inline-block;
    width: 489px;
}
.more-info-about {
    position: absolute;
    top: 1685px;
    left: 879px;
    font-size: 20px;
    text-decoration: underline;
    line-height: 30px;
    font-weight: 700;
    color: inherit;
}
.minutes-segment {
    position: absolute;
    top: 1685px;
    left: 1141px;
    font-size: 20px;
    text-decoration: underline;
    line-height: 30px;
    font-weight: 700;
    color: inherit;
}
.compass-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 77.4px;
    height: 77.4px;
    object-fit: contain;
}
.w {
    position: absolute;
    top: 49.32px;
    left: 24.01px;
    font-weight: 600;
    display: inline-block;
    width: 8.1px;
    height: 9.2px;
}
.n {
    position: absolute;
    top: 23.71px;
    left: 18.86px;
    font-weight: 600;
    display: inline-block;
    width: 5.9px;
    height: 9.2px;
}
.s {
    position: absolute;
    top: 43.1px;
    left: 53.34px;
    font-weight: 600;
    display: inline-block;
    width: 5.4px;
    height: 9.2px;
}
.e {
    position: absolute;
    top: 16.7px;
    left: 46.87px;
    font-weight: 600;
    display: inline-block;
    width: 4.8px;
    height: 9.2px;
}
.compass {
    position: absolute;
    top: 2315px;
    left: 1082px;
    width: 77.4px;
    height: 77.4px;
    font-size: 10px;
    font-family: Inter;
}
.ellipse-parent1 {
    position: absolute;
    top: 1037px;
    left: 60px;
    width: 558px;
    height: 45px;
    font-size: 36px;
    color: #fffaef;
}
.wants-a-library {
    position: absolute;
    top: 3214px;
    left: 223px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 254px;
    height: 111px;
}
.delores {
    position: absolute;
    top: 3162px;
    left: 303px;
    font-size: 20px;
    text-align: center;
}
.anthony {
    position: absolute;
    top: 3162px;
    left: 726px;
    font-size: 20px;
    text-align: center;
}
.warda {
    position: absolute;
    top: 3162px;
    left: 1149px;
    font-size: 20px;
    text-align: center;
}
.wants-wider-reaching {
    position: absolute;
    top: 3221px;
    left: 628px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 255px;
    height: 56px;
}
.values-walkable-neighborhoods {
    position: absolute;
    top: 3214px;
    left: 1047px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 254px;
    height: 111px;
}
.a092a-7483-45d3-84bb-9524bd612-icon {
    position: absolute;
    top: 2990px;
    left: 280px;
    border-radius: 6px;
    width: 140px;
    height: 160px;
    object-fit: cover;
}
.image-11-icon {
    position: absolute;
    top: 2990px;
    left: 1104px;
    border-radius: 6px;
    width: 140px;
    height: 160px;
    object-fit: cover;
}
.image-9-icon {
    position: absolute;
    top: 2990px;
    left: calc(50% - 64px);
    border-radius: 6px;
    width: 140px;
    height: 160px;
    object-fit: cover;
}
.mi-away {
    position: absolute;
    top: 3730px;
    left: 1000px;
    font-size: 14px;
    font-weight: 500;
}
.temporarily-closed {
    position: absolute;
    top: 3861px;
    left: 996px;
    font-size: 10px;
    line-height: 150%;
}
.mi-away1 {
    position: absolute;
    top: 3876px;
    left: 996px;
    font-size: 14px;
    font-weight: 500;
}
.mi-away2 {
    position: absolute;
    top: 3991px;
    left: 1000px;
    font-size: 14px;
    font-weight: 500;
}
.theres-no-longer {
    font-weight: 900;
    font-family: Inconsolata;
    color: #feb958;
}
.then-we-figured-container {
    position: absolute;
    top: 3564px;
    left: calc(50% - 577px);
    line-height: 30px;
    display: inline-block;
    width: 1124px;
}
.group-icon {
    position: absolute;
    height: 50.19%;
    width: 54.1%;
    top: 376.68%;
    right: 33.47%;
    bottom: -326.87%;
    left: 12.43%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.the-three-closest {
    position: absolute;
    top: 4139px;
    left: calc(50% - 78px);
    line-height: 30px;
    font-weight: 600;
    display: inline-block;
    width: 772px;
}
.rectangle-div {
    position: absolute;
    top: 5px;
    left: 0px;
    background-color: #fec16b;
    width: 1117px;
    height: 20px;
}
.group-child2 {
    position: absolute;
    top: 31px;
    left: 0px;
    background-color: #fec16b;
    width: 956px;
    height: 20px;
}
.on-a-smaller-container {
    position: absolute;
    top: 0px;
    left: calc(50% - 560.5px);
    font-weight: 800;
    display: inline-block;
    width: 1124px;
}
.rectangle-parent {
    position: absolute;
    top: 4747px;
    left: 184px;
    width: 1127px;
    height: 150px;
}
.vector-icon {
    position: absolute;
    top: 3725px;
    left: 855px;
    width: 345px;
    height: 123px;
}
.lv-child1 {
    position: absolute;
    top: 3856px;
    left: 896px;
    width: 304px;
    height: 54px;
}
.lv-child2 {
    position: absolute;
    top: 3986px;
    left: 771px;
    max-height: 100%;
    width: 430px;
}
.chandler-park-branch {
    position: absolute;
    top: 3704px;
    left: 1000px;
    font-size: 20px;
    font-weight: 800;
}
.monteith-branch {
    position: absolute;
    top: 3835px;
    left: 1050px;
    font-size: 20px;
    font-weight: 800;
}
.elmwood-park-branch {
    position: absolute;
    top: 3965px;
    left: 1010px;
    font-size: 20px;
    font-weight: 800;
}
.min-walk-29-container {
    position: absolute;
    top: 3730px;
    left: 1115px;
    font-size: 14px;
}
.min-drive1 {
    margin: 0;
    white-space: pre-wrap;
}
.min-walk-19-container {
    position: absolute;
    top: 3861px;
    left: 1115px;
    font-size: 14px;
}
.min-walk-22-container {
    position: absolute;
    top: 3991px;
    left: 1115px;
    font-size: 14px;
}
.lv-child3 {
    position: absolute;
    top: 4954px;
    left: 38px;
    width: 1449px;
    height: 557px;
}
.we-divided-the {
    color: #75a878;
}
.emporary-and-modular {
    text-decoration: underline;
}
.social-infrastructure {
    color: #feb958;
}
.we-divided-the-container {
    position: absolute;
    top: 5777px;
    left: 196px;
    line-height: 114%;
    font-weight: 600;
    display: inline-block;
    width: 1124px;
}
.our-goal-is {
    position: absolute;
    top: 6414px;
    left: 397px;
    font-size: 16px;
    line-height: 114%;
    font-weight: 600;
    color: #feb958;
    display: inline-block;
    width: 709px;
}
.is-the-core {
    position: absolute;
    top: 38px;
    left: calc(50% - 66px);
    font-weight: 600;
}
.community {
    position: absolute;
    top: 0px;
    left: calc(50% - 81px);
    font-size: 36px;
    font-weight: 900;
}
.community-is-the-core {
    position: absolute;
    top: 6339px;
    left: calc(50% - 81px);
    width: 162px;
    height: 63px;
    color: #feb958;
}
.shape-with-text {
    position: relative;
    border-radius: 6px;
    background-color: #c2e3c6;
    width: 343px;
    height: 196px;
}
.social-interaction1 {
    position: absolute;
    top: 16px;
    left: 13px;
    font-weight: 800;
}
.high-levels-of {
    position: absolute;
    top: 93px;
    left: 13px;
    font-weight: 500;
    display: inline-block;
    width: 309px;
}
.social-interaction-child {
    position: absolute;
    top: 78px;
    left: 12px;
    border-top: 2px solid #fffaef;
    box-sizing: border-box;
    width: 318px;
    height: 2px;
}
.social-interaction {
    position: relative;
    width: 343px;
    height: 196px;
}
.shape-with-text1 {
    position: relative;
    border-radius: 6px;
    background-color: #d3f3ac;
    width: 343px;
    height: 196px;
}
.sense-of-belonging {
    position: absolute;
    top: 16px;
    left: 14px;
    font-weight: 800;
    display: inline-block;
    width: 228px;
}
.the-space-is {
    position: absolute;
    top: 93px;
    left: 14px;
    font-weight: 500;
    display: inline-block;
    width: 310px;
}
.sense-of-be-child {
    position: absolute;
    top: 78px;
    left: 13px;
    border-top: 2px solid #fffaef;
    box-sizing: border-box;
    width: 318px;
    height: 2px;
}
.shape-with-text2 {
    position: relative;
    border-radius: 6px;
    background-color: #e3e4bb;
    width: 343px;
    height: 196px;
}
.educational-cultural {
    position: absolute;
    top: 16px;
    left: 10px;
    font-weight: 800;
    display: inline-block;
    width: 323px;
}
.accessible-learning-resources {
    position: absolute;
    top: 93px;
    left: 10px;
    font-weight: 500;
    display: inline-block;
    width: 333px;
}
.small-scale-infrastructure-is-container {
    position: absolute;
    top: 7065px;
    left: calc(50% - 139px);
    font-weight: 600;
    display: inline-block;
    width: 736px;
}
.through-data-collection-container {
    position: absolute;
    top: 7207px;
    left: calc(50% - 139px);
    font-weight: 600;
    display: inline-block;
    width: 736px;
}
.can {
    color: #b0cf8e;
}
.succeed {
    color: #18321d;
}
.prove-development-can-container {
    position: absolute;
    top: 7060px;
    left: 146px;
    font-size: 32px;
    letter-spacing: 0.02em;
    line-height: 160%;
    text-transform: uppercase;
    font-family: Dangrek;
    display: inline-block;
    width: 405px;
    color: #b0cf8e;
}
.large-scale1 {
    line-height: 120%;
}
.large-scale {
    position: absolute;
    top: 7184px;
    left: 146px;
    font-size: 64px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-family: Dangrek;
    display: inline-block;
    width: 405px;
    color: #18321d;
}
.screenshot-2024-12-03-at-129 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 6px;
    width: 1149px;
    height: 600px;
    object-fit: cover;
}
.the-shepherd {
    position: relative;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.38);
    width: 217px;
    height: 36px;
}
.itav-skatepark {
    position: relative;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.38);
    width: 245px;
    height: 37px;
}
.collect {
    position: relative;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.38);
    width: 131px;
    height: 37px;
}
.signal-return {
    position: relative;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.38);
    width: 222px;
    height: 37px;
}
.the-lantern {
    position: relative;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.38);
    width: 187px;
    height: 35px;
}
.louis-buhl-co {
    position: relative;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.38);
    width: 258px;
    height: 37px;
}
.stanton-yards {
    position: relative;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.38);
    width: 227px;
    height: 37px;
}
.warda-ptisserie {
    position: relative;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.38);
    width: 272px;
    height: 36px;
}
.heroicons-solidstar {
    position: absolute;
    top: 277px;
    left: 781px;
    width: 46px;
    height: 46px;
    overflow: hidden;
}
.heroicons-solidstar1 {
    position: absolute;
    top: 398px;
    left: 863px;
    width: 46px;
    height: 46px;
    overflow: hidden;
}
.heroicons-solidstar2 {
    position: absolute;
    top: 442px;
    left: 177px;
    width: 46px;
    height: 46px;
    overflow: hidden;
}
.heroicons-solidstar3 {
    position: absolute;
    top: 415px;
    left: 125px;
    width: 46px;
    height: 46px;
    overflow: hidden;
}
.heroicons-solidstar4 {
    position: absolute;
    top: 369px;
    left: 168px;
    width: 46px;
    height: 46px;
    overflow: hidden;
}
.heroicons-solidstar5 {
    position: absolute;
    top: 411px;
    left: 804px;
    width: 46px;
    height: 46px;
    overflow: hidden;
}
.heroicons-solidstar6 {
    position: absolute;
    top: 182px;
    left: 1007px;
    width: 46px;
    height: 46px;
    overflow: hidden;
}
.heroicons-solidstar7 {
    position: absolute;
    top: 484px;
    left: 804px;
    width: 46px;
    height: 46px;
    overflow: hidden;
}
.map {
    position: absolute;
    top: 7446px;
    left: 182px;
    width: 1149px;
    height: 600px;
}
.map-city-of-container {
    position: absolute;
    top: 1508px;
    left: 247px;
    text-transform: uppercase;
    color: #18321d;
}
.lv-child4 {
    position: absolute;
    top: 1401.5px;
    left: 805.96px;
    width: 13.1px;
    height: 16.5px;
}
.instance-child {
    position: absolute;
    height: 44.21%;
    width: 60.9%;
    top: 57.64%;
    right: -1.9%;
    bottom: -1.85%;
    left: 41%;
    border-radius: 6px;
    background-color: rgba(142, 163, 32, 0.2);
    border: 16px solid #8ea320;
    box-sizing: border-box;
}
.text {
    position: absolute;
    width: 49.53%;
    top: 68.75%;
    left: 46.68%;
    letter-spacing: 0.02em;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
}
.group-child3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(17.1px);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.38);
}
.text1 {
    position: absolute;
    width: 85.9%;
    top: 7.19%;
    left: 7.05%;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
}
.rectangle-container {
    position: absolute;
    height: 67.59%;
    width: 53.79%;
    top: 0%;
    right: 46.21%;
    bottom: 32.41%;
    left: 0%;
    text-align: left;
    font-size: 24px;
    color: #fffaef;
}
.rectangle-group {
    position: absolute;
    top: 7465px;
    left: 251px;
    width: 422px;
    height: 432px;
    text-align: center;
    font-size: 48px;
    color: #fdf5de;
}
.sssi-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 21px;
    background-color: #fff2d6;
    width: 1307px;
    height: 1234px;
}
.our-sssi-will {
    position: absolute;
    top: 115px;
    left: 87px;
    font-size: 24px;
    font-weight: 600;
    font-family: Inconsolata;
    color: #75a878;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 1127px;
}
.seating-popup-child {
    position: absolute;
    top: 4.75px;
    left: 0px;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    background-color: rgba(25, 50, 29, 0.5);
    width: 353px;
    height: 353px;
}
.seating {
    position: absolute;
    top: 0px;
    left: 13.58px;
    line-height: 150%;
    display: inline-block;
    width: 339.5px;
    height: 95.1px;
}
.orange-bench-icon {
    position: absolute;
    top: 69.26px;
    left: 27.16px;
    border-radius: 20px;
    width: 312.3px;
    height: 211.8px;
    object-fit: cover;
}
.sit-read-nap-container {
    position: absolute;
    top: 283.81px;
    left: 13.58px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    font-family: Inconsolata;
    display: inline-block;
    width: 339.5px;
    height: 63.8px;
}
.seating-popup {
    position: absolute;
    top: 200px;
    left: 65px;
    backdrop-filter: blur(4px);
    width: 353.1px;
    height: 357.8px;
}
.shade-popup-child {
    position: absolute;
    top: 3.75px;
    left: 5px;
    border-radius: 20px;
    background-color: rgba(24, 50, 29, 0.5);
    width: 353px;
    height: 353px;
}
.shade {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 150%;
    display: inline-block;
    width: 353.1px;
}
.sunny-rainy-hot-container {
    position: absolute;
    top: 283px;
    left: 33px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    font-family: Inconsolata;
    display: inline-block;
    width: 292px;
}
.clearsail-icon {
    position: absolute;
    top: 68px;
    left: 16px;
    border-radius: 40px;
    width: 322px;
    height: 228px;
    object-fit: cover;
}
.shade-popup {
    position: absolute;
    top: 201px;
    left: 474px;
    backdrop-filter: blur(50px);
    width: 358px;
    height: 356.8px;
}
.mobile-library-popup-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: rgba(24, 50, 29, 0.5);
    width: 353px;
    height: 533px;
}
.mobile-library {
    position: absolute;
    top: 19px;
    left: 0px;
    line-height: 67px;
    display: inline-block;
    width: 353px;
    height: 142.4px;
}
.the-detroit-public-container {
    position: absolute;
    top: 461px;
    left: 0px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    font-family: Inconsolata;
    display: inline-block;
    width: 353px;
}
.dpl-mobile {
    position: absolute;
    top: 218px;
    left: 23px;
    border-radius: 20px;
    width: 303px;
    height: 197px;
    object-fit: cover;
}
.mobile-library-popup {
    position: absolute;
    top: 633px;
    left: 479px;
    backdrop-filter: blur(50px);
    width: 353px;
    height: 533px;
}
.book-drop-popup-child {
    position: absolute;
    top: 4.2px;
    left: 0px;
    border-radius: 20px;
    background-color: rgba(24, 50, 29, 0.5);
    width: 353px;
    height: 348.8px;
}
.bookdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 150%;
    display: inline-block;
    width: 353px;
    height: 84px;
}
.return-dpl-books {
    position: absolute;
    top: 284px;
    left: 31px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    font-family: Inconsolata;
    display: inline-block;
    width: 291.9px;
    height: 56.4px;
}
.book-drop-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(50px);
    width: 353px;
    height: 353px;
}
.redo-dropboxfront-1-icon {
    position: absolute;
    top: 77px;
    left: 111px;
    width: 132px;
    height: 212px;
    object-fit: cover;
}
.book-drop-popup-parent {
    position: absolute;
    top: 200px;
    left: 889px;
    width: 353px;
    height: 353px;
}
.little-free-libraries-container {
    position: absolute;
    top: 19.87px;
    left: 1px;
    line-height: 92%;
    display: inline-block;
    width: 353px;
    height: 95.1px;
}
.take-a-book-container {
    position: absolute;
    top: 459.87px;
    left: 0px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    font-family: Inconsolata;
    display: inline-block;
    width: 353px;
    height: 63.8px;
}
.lfl-popup-item {
    position: absolute;
    top: 252.87px;
    left: 212px;
    width: 78px;
    height: 108px;
}
.kidslfl-3-icon {
    position: absolute;
    top: 198.87px;
    left: 75px;
    border-radius: 20px;
    width: 224px;
    height: 252px;
    object-fit: cover;
}
.lfl-popup {
    position: absolute;
    top: 633.13px;
    left: 65px;
    backdrop-filter: blur(50px);
    width: 354px;
    height: 533px;
}
.community-board {
    position: absolute;
    top: 19.01px;
    left: 0px;
    line-height: 90%;
    display: inline-block;
    width: 353px;
    height: 91.8px;
}
.stay-with-community {
    position: absolute;
    top: 461px;
    left: 12px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    font-family: Inconsolata;
    display: inline-block;
    width: 329.2px;
    height: 61.6px;
}
.redo-com-board-1 {
    position: absolute;
    top: 149px;
    left: 78px;
    border-radius: 20px;
    width: 196px;
    height: 296px;
    object-fit: cover;
}
.community-board-popup {
    position: absolute;
    top: 633px;
    left: 889px;
    backdrop-filter: blur(50px);
    width: 353px;
    height: 533px;
}
.sssi1 {
    position: absolute;
    top: 13px;
    left: calc(50% - 77.5px);
    letter-spacing: 0.14em;
    font-weight: 900;
    font-family: Inconsolata;
    color: #feb958;
    text-align: left;
}
.sssi {
    position: absolute;
    top: 9678px;
    left: 144px;
    width: 1307px;
    height: 1234px;
    text-align: center;
    font-size: 64px;
    color: #fdf5de;
    font-family: Dangrek;
}
.field-child {
    position: absolute;
    top: 0.03px;
    left: 0px;
    width: 1749px;
    height: 929.2px;
}
.pp-detroit-city-2-2 {
    position: absolute;
    top: 686.04px;
    left: 579.4px;
    width: 116.6px;
    height: 173.4px;
    object-fit: contain;
}
.clearsail-icon1 {
    position: absolute;
    top: 121.3px;
    left: 88.34px;
    width: 683.8px;
    height: 488.4px;
    object-fit: contain;
}
.clearsail-icon2 {
    position: absolute;
    top: 0px;
    left: 889.16px;
    width: 859.5px;
    height: 614px;
    object-fit: cover;
}
.pp-detroit-city-2-1 {
    position: absolute;
    top: 667.13px;
    left: 647.94px;
    width: 130px;
    height: 252.1px;
    object-fit: contain;
}
.pp-detroit-city-1-51 {
    position: absolute;
    top: 669.74px;
    left: 1240.66px;
    width: 79.9px;
    height: 124.1px;
    object-fit: contain;
}
.pp-detroit-city-1-6 {
    position: absolute;
    top: 701.31px;
    left: 270.29px;
    width: 54.1px;
    height: 49.6px;
    object-fit: cover;
}
.redo-dpl-drop-back-1 {
    position: absolute;
    top: 702.34px;
    left: 379.19px;
    width: 96.5px;
    height: 148.7px;
    object-fit: cover;
}
.pp-detroit-city-1-7 {
    position: absolute;
    top: 666.48px;
    left: 1009.8px;
    width: 111.5px;
    height: 209.4px;
    object-fit: cover;
}
.field-item {
    position: absolute;
    height: 7.75%;
    width: 65.64%;
    top: 34.22%;
    right: 20.3%;
    bottom: 58.03%;
    left: 14.07%;
    backdrop-filter: blur(17.1px);
    border-radius: 6px 6px 0px 0px;
    background-color: rgba(0, 0, 0, 0.38);
}
.the-center-field {
    position: absolute;
    top: 343px;
    left: 287px;
    font-weight: 600;
}
.field {
    position: absolute;
    top: 8664px;
    left: -63px;
    width: 1749px;
    height: 929.2px;
    font-size: 23px;
    color: #fffaef;
}
.component-99-child {
    position: absolute;
    height: 103.53%;
    width: 44.33%;
    top: -1.77%;
    right: 56.43%;
    bottom: -1.77%;
    left: -0.76%;
    border-radius: 50%;
    background-color: #bbe0cb;
    border: 10px solid #bbe0cb;
    box-sizing: border-box;
    opacity: 0.83;
}
.component-99-item {
    position: absolute;
    height: 103.53%;
    width: 44.33%;
    top: -1.77%;
    right: -0.76%;
    bottom: -1.77%;
    left: 56.43%;
    border-radius: 50%;
    background-color: #dce1c0;
    border: 10px solid #dce1c0;
    box-sizing: border-box;
    opacity: 0.83;
}
.social-infrastructure1 {
    position: absolute;
    top: 39.93%;
    left: 74.58%;
    text-transform: uppercase;
}
.small-scale2 {
    position: absolute;
    top: 39.93%;
    left: 12.41%;
    text-transform: uppercase;
    text-align: right;
}
.component-99 {
    position: absolute;
    top: 5973px;
    left: 409px;
    width: 661px;
    height: 283px;
    color: #18321d;
}
.scene-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1149px;
    height: 600px;
}
.pp-detroit-city-2-3 {
    position: absolute;
    height: 100%;
    width: 27.12%;
    top: 0%;
    right: 72.88%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.pp-detroit-city-1-15 {
    position: absolute;
    height: 11.43%;
    width: 4.19%;
    top: 6.96%;
    right: 52.12%;
    bottom: 81.6%;
    left: 43.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.pp-detroit-city-1-8 {
    position: absolute;
    height: 8.6%;
    width: 1.96%;
    top: 12.96%;
    right: 14.06%;
    bottom: 78.44%;
    left: 83.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.pp-detroit-city-1-10 {
    position: absolute;
    height: 8.95%;
    width: 1.89%;
    top: 13.44%;
    right: 0%;
    bottom: 77.61%;
    left: 98.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.pp-detroit-city-2-4 {
    position: absolute;
    height: 65.51%;
    width: 23.18%;
    top: 28.51%;
    right: 49.74%;
    bottom: 5.98%;
    left: 27.08%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.pp-detroit-city-1-16 {
    position: absolute;
    height: 3.61%;
    width: 1.22%;
    top: 15.49%;
    right: 4.68%;
    bottom: 80.9%;
    left: 94.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.group-child4 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    backdrop-filter: blur(17.1px);
    border-radius: 6px 6px 0px 0px;
    background-color: rgba(0, 0, 0, 0.38);
}
.text2 {
    position: absolute;
    width: 97.74%;
    top: 20.83%;
    left: 1.31%;
    display: inline-block;
}
.rectangle-parent1 {
    position: absolute;
    height: 17.7%;
    width: 148.53%;
    top: -70.55%;
    right: -46.59%;
    bottom: 152.85%;
    left: -1.94%;
}
.div {
    position: absolute;
    top: 287px;
    left: 15px;
    width: 773.6px;
    height: 406.8px;
}
.scene {
    position: absolute;
    top: 8149px;
    left: 186px;
    width: 1149px;
    height: 693.8px;
    font-size: 23px;
    color: #fffaef;
}
.icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 6px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.location-icon {
    position: absolute;
    height: 3.21%;
    width: 4.77%;
    top: 63.63%;
    right: 32.07%;
    bottom: 33.16%;
    left: 63.16%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.sanborn-map-child {
    position: absolute;
    height: 2.57%;
    width: 9.28%;
    top: 67.37%;
    right: 29.83%;
    bottom: 30.06%;
    left: 60.89%;
    background-color: #ffbe3f;
}
.the-shepherd1 {
    position: absolute;
    top: 62.23%;
    left: 61.36%;
    line-height: 50px;
    font-weight: 900;
}
.sanborn-map {
    position: absolute;
    top: 2006px;
    left: 438px;
    border-radius: 6px;
    width: 635.6px;
    height: 388.9px;
    text-align: center;
    font-size: 8px;
    color: #fffaef;
    font-family: Inter;
}
.in-addition-to {
    position: absolute;
    top: 11149px;
    left: 238px;
    font-weight: 600;
    display: inline-block;
    width: 1124px;
}
.we-envision-the {
    position: absolute;
    top: 11058px;
    left: 238px;
    font-weight: 600;
    display: inline-block;
    width: 1124px;
}
.people-scan-the {
    position: absolute;
    top: 12048px;
    left: 236px;
    font-weight: 600;
    display: inline-block;
    width: 1124px;
}
.see {
    font-weight: 900;
    font-family: Inconsolata;
    color: #ef8e34;
}
.see-what-neighbors-container {
    position: absolute;
    top: 12356px;
    left: 540px;
    text-align: center;
    display: inline-block;
    width: 431px;
}
.we-provide-weekly {
    position: absolute;
    top: 12528px;
    left: 540px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 431px;
}
.data-collection-is-container {
    position: absolute;
    top: 13332px;
    left: calc(50% - 562px);
    font-weight: 600;
    display: inline-block;
    width: 1124px;
}
.we-hope-that {
    position: absolute;
    top: 14994px;
    left: calc(50% - 242px);
    font-weight: 600;
    display: inline-block;
    width: 943px;
}
.view-prototype {
    position: absolute;
    top: 12750px;
    left: calc(50% - 180px);
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
    color: inherit;
}
.view-journey-map {
    position: absolute;
    top: 12750px;
    left: calc(50% + 44px);
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
}
.red-wavy-arrow {
    position: absolute;
    top: 10748px;
    left: 799px;
    width: 307.3px;
    height: 332.9px;
    object-fit: contain;
    mix-blend-mode: exclusion;
}
.image-44-icon {
    position: absolute;
    height: 90.89%;
    width: 55.8%;
    top: 4.51%;
    right: 44.2%;
    bottom: 4.6%;
    left: 0%;
    border-radius: 6px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.finalgeneralposting-1-icon {
    position: absolute;
    height: 100%;
    width: 39.66%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 60.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.component-101-child {
    position: absolute;
    height: 5.91%;
    width: 55.8%;
    top: 4.51%;
    right: 44.2%;
    bottom: 89.58%;
    left: 0%;
    backdrop-filter: blur(17.1px);
    border-radius: 6px 6px 0px 0px;
    background-color: rgba(0, 0, 0, 0.38);
}
.waterfront {
    position: absolute;
    top: 5.26%;
    left: 24.49%;
    font-weight: 600;
}
.component-101 {
    position: absolute;
    top: 11220px;
    left: 159px;
    width: 1292px;
    height: 733px;
    color: #fffaef;
}
.screen-recording-2024-12-05-at {
    position: absolute;
    top: 12124px;
    left: 85px;
    border-radius: 75px;
    width: 406px;
    height: 852px;
}
.screen-recording-2024-12-05-at1 {
    position: absolute;
    top: 12124px;
    left: 999px;
    border-radius: 75px;
    width: 406px;
    height: 852px;
}
.group-child5 {
    position: absolute;
    top: 0px;
    left: 122.02px;
    border-radius: 6px;
    background-color: #18321d;
    width: 1159.8px;
    height: 652.4px;
}
.line-icon {
    position: absolute;
    top: 80.9px;
    left: 398.09px;
    width: 515.9px;
    height: 226.3px;
    object-fit: contain;
}
.group-child6 {
    position: absolute;
    top: 193.91px;
    left: 203.16px;
    width: 302.7px;
    height: 445.5px;
    object-fit: contain;
}
.group-child7 {
    position: absolute;
    top: 340.37px;
    left: 439.62px;
    width: 383.9px;
    height: 268.6px;
    object-fit: contain;
}
.group-child8 {
    position: absolute;
    top: 265px;
    left: 896.75px;
    width: 84.5px;
    height: 159.2px;
    object-fit: contain;
}
.group-child9 {
    position: absolute;
    top: 58.6px;
    left: 0px;
    width: 749.2px;
    height: 338.7px;
}
.dpl-mobile1 {
    position: absolute;
    top: 236.8px;
    left: 653.01px;
    width: 717.5px;
    height: 579.5px;
    object-fit: contain;
}
.group-child10 {
    position: absolute;
    top: 350.16px;
    left: 753.96px;
    width: 554.1px;
    height: 327.2px;
    object-fit: contain;
}
.image-39-icon {
    position: absolute;
    top: 0px;
    left: 869.27px;
    width: 196.9px;
    height: 311.7px;
    object-fit: cover;
}
.shape-with-text3 {
    position: relative;
    background-color: #fdf5de;
    width: 90.6px;
    height: 16px;
}
.computer-vision {
    position: absolute;
    top: 217.47px;
    left: 234.99px;
    line-height: 40px;
    display: inline-block;
    width: 198.1px;
}
.community-website {
    position: absolute;
    top: 47.72px;
    left: 1040.22px;
    line-height: 40px;
    display: inline-block;
    width: 197.5px;
}
.dpl-databasehuman-feedback {
    position: absolute;
    top: 376px;
    left: 964px;
    line-height: 40px;
    display: inline-block;
    width: 302px;
}
.infrared-sensor-amount-of-util {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 21px;
}
.infrared-sensor-amount-container {
    position: absolute;
    top: 287px;
    left: 398px;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    width: 303.9px;
}
.book-data-container1 {
    width: 100%;
}
.book-data-container {
    position: absolute;
    top: 459.95px;
    left: 862.02px;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    width: 372.1px;
}
.subtract-icon {
    position: relative;
    width: 161.3px;
    height: 249.6px;
}
.qr-code-container {
    position: absolute;
    top: 147px;
    left: 1054px;
    font-size: 16px;
    text-align: left;
}
.pp-detroit-city-2-31 {
    position: absolute;
    top: 504.41px;
    left: 285.13px;
    width: 73.1px;
    height: 142px;
    object-fit: cover;
}
.rectangle-parent2 {
    position: absolute;
    top: 13524px;
    left: 65px;
    width: 1370.5px;
    height: 816.3px;
    text-align: center;
    font-size: 40px;
    color: #fffaef;
    font-family: Dangrek;
}
.ellipse-parent2 {
    position: absolute;
    top: 13205px;
    left: 99px;
    width: 399px;
    height: 45px;
    font-size: 36px;
    color: #fffaef;
}
.group-child12 {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(50px);
    border-radius: 50%;
    background-color: #75a878;
    width: 286px;
    height: 45px;
}
.yearling {
    position: absolute;
    top: 9px;
    left: 56px;
    line-height: 30px;
    font-weight: 900;
}
.ellipse-parent3 {
    position: absolute;
    top: 14317px;
    left: 106px;
    width: 286px;
    height: 45px;
    font-size: 36px;
    color: #fffaef;
}
.lv-child5 {
    position: absolute;
    top: 14170px;
    left: 122px;
    width: 1314px;
    height: 904.6px;
}
.lv {
    width: 100%;
    position: relative;
    height: 982px;
    overflow-y: auto;
    text-align: left;
    font-size: 24px;
    color: #75a878;
    font-family: Inconsolata;
}

